<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Agenda Telefonica</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">
</head>

<script src="js/angular.js"> </script>
	
<div ng-app="myApp" ng-controller="myCtrl">

<div class="topo"> <h2> Agenda telefônica </h2></div>
<div id="formulario">
	<form>
		<input class="form-control" type="text" placeholder="Nome" ng-model="contato.nome">
	 	<input class="form-control" type="number" placeholder="Telefone" ng-model="contato.telefone">
		<input class="form-control" type="email" placeholder="Email" ng-model="contato.email">
	    <center> <div> 
	    	<button class="btn btn-success" ng-click="adicionarContato(contato)">Adicionar</button>
			<button class="btn btn-danger" ng-click="removerContato(agenda)">Remover</button>
			<button class="btn btn-info" ng-click="atualizarContatos()">Atualizar</button>
	</form>
		</div></center>
	</div>


<!-- view da agenda -->
<div class="tabela">
	<table class="table table-striped">
		<tr> 
			<th> # </th>
			<th> Nome</th>
			<th> Telefone </th>
			<th> Email</th>
		</tr>
		<tr ng-repeat="contatos in agenda">
			<td> {{ contatos.id }}</td>
			<td> {{ contatos.nome }}</td>
			<td> {{ contatos.telefone }}</td>
			<td> {{ contatos.email }}</td>
		</tr>
	</table>
</div>
	
</div>

<script src="js/code.js">


</script>
	</body>
	

</html>